@charset "utf-8";

/* Foundation */
body {
    font-size: 16px;
    line-height: 1.6;
    color: #1b0529;
    font-family: "游ゴシック Medium",
        "Yu Gothic Medium", YuGothic,
        "遊ゴシック体",
        "ヒラギノ角ゴ ProN",
        "Hiragino Kaku Gothic ProN",
        "メイリオ", Meiryo,
        "MS Pゴシック", "MS PGothic", sans-serif;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Layout */
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.wrapper-s {
    max-width: 650px;
    margin: 0 auto;
}

/* トップページボタン */

.page-top {
    display: inline-block;
    position: fixed;
    right: 10%;
    bottom: 0px;
    background: #6d238d;
    color: #fff;
    padding: 10px 40px;


}

/* ヘッダー */
#header {
    border-top: #6d238d 4px solid;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-logo {
    width: 120px;
}

.header-info {
    font-size: 1.25rem;
}

/* ナビゲーション */

.nav {
    background: #6d238d;
    font-size: 1.125rem;
}
.nav ul{
    display: flex;
    justify-content: center;
}

.nav a {
    padding: 15px 40px;
    color: #fff;
    display: block;
}